@model IEnumerable<techFarm.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Registro de Vendas</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                Data da Venda <!-- Texto fixo para exibir "Data da Venda" -->
            </th>
            <th>
                Quantidade Vendida (KG) <!-- Texto fixo para exibir "Quantidade Vendida (KG)" -->
            </th>
            <th>
                Lote/Grão <!-- Texto fixo para exibir "Lote/Grão" -->
            </th>
            <th>
                Funcionário <!-- Texto fixo para exibir "Funcionário" -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDaVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeKGVendida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoteGrao.TipoDeGrao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-action="Edit" asp-route-id="@item.ID_Vendas" class="btn btn-warning">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.ID_Vendas" class="btn btn-success">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.ID_Vendas" class="btn btn-danger">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Venda</a>
    <a asp-action="Index" asp-controller="Funcionarios" class="btn btn-secondary">Voltar à Funcionários</a>
</p>
